/* General styles */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  height: 100%;
  color: white;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  font-family: JetBrains, monospace;
  background-color: #0b0e16;
  scroll-snap-type: y mandatory;
}

section {
  width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
}

h1 {
  font-size: clamp(1rem, 9vw, 2.5rem);
  background: linear-gradient(90deg, #00fff5, #6c63ff);
  background-clip: text;
  color: transparent;
  margin: 0;
}

p {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

/* HERO SECTION */

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid gray;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 40px black;
  max-width: 70vw;
}

.hero-content a {
  background: linear-gradient(90deg, #00fff5, #6c63ff);
  border: none;
  text-decoration: none;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  font-size: 0.97rem;
  transition: all 0.3s ease;
}

.hero-content a:hover {
  translate: 0 -5px;
  box-shadow: 0 0 15px rgba(108, 99, 255, 0.6);
}

/* APOD SECTION */

#apod {
  background: radial-gradient(ellipse at bottom, #0b0d22 0%, #000 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#apod h1 {
  margin-top: 3rem;
}

.apod-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding: 0 1rem;
  margin: auto;
}

.apod-grid img {
  width: 100%;
  border-radius: 1rem;
  transition: all 0.4s ease;
}

.apod-grid img:hover {
  transform: scale(1.02);
}

.apod-info {
  text-align: justify;
}

.apod-info p {
  line-height: 1.6;
  opacity: 0.9;
}

@media (max-width: 900px) {
  .apod-grid {
    grid-template-columns: 1fr;
  }
  .apod-info {
    text-align: center;
  }
  #apod h1 {
    margin-top: 0;
  }
}

/* GALLERY SECTION */

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    circle at top left,
    rgba(108, 99, 255, 0.25),
    rgba(0, 0, 0, 0.8)
  );
}

.gallery-header {
  text-align: center;
}

.viewer-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

.viewer {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid gray;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 0 25px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.viewer:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(108, 99, 255, 0.5);
}

.viewer iframe {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: none;
}

.viewer p {
  line-height: 1.5;
  text-align: justify;
}

/* JOIN SECTION */

#join {
  background: radial-gradient(
    circle at bottom right,
    rgba(108, 99, 255, 0.25),
    rgba(0, 0, 0, 0.8)
  );
}

.join-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.join-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.join-text a {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid gray;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  margin: 0.3rem 0;
}

.join-text a:hover {
  background: rgba(108, 99, 255, 0.3);
  transform: translateY(-3px);
}

.join-form {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid gray;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 20px black;
}

.join-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.join-form input {
  padding: 0.8rem 1rem;
  border-radius: 30px;
  border: none;
  outline: none;
}

.join-form button {
  background: linear-gradient(90deg, #00fff5, #6c63ff);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.join-form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(108, 99, 255, 0.6);
}

#form-message {
  margin-top: 1rem;
  color: #00fff5;
}
